.search-table{table-layout: fixed; margin:40px auto 0px auto; }
.search-table, td, th{border-collapse:collapse; border:1px solid #777;}
th{padding:20px 7px; font-size:15px; color:white; background:#1976d2;}
td{padding:5px 10px; height:35px;}

.search-table-outter { overflow-x: scroll; }
th, td { min-width: 200px; }