<span class="mat-title">Customer details</span>
<div class="search-table-outter wrapper">
    <h2 class="md-display-3">{{ customer?.ContactName }}</h2>
    <h4 class="md-title">{{customer?.ContactTitle}}, <span class="md-subhead">{{customer?.CompanyName}}</span></h4>
    <h2 class="md-headline">Contact details:</h2>
    <p class="md-body-1"><b>Phone number</b>: {{customer?.Phone}}</p>
    <p class="md-body-1"><b>Fax</b>: {{customer?.Fax}}</p>
    <p class="md-body-1"><b>Address</b>: {{customer?.Address}}, {{customer?.City}}, {{customer?.PostalCode}}, {{customer?.Country}}.</p>
    <h2 class="md-headline">Orders:</h2>
    <td-data-table
        [data]="customerOrders"
        [columns]="columns"
        [clickable]="true"
        (rowClick)="goTodetails($event)">
    </td-data-table>
</div>