<!-- <td-layout>
    <td-navigation-drawer flex sidenavTitle="Clinical Plus" email="pradeep@clinicalplus.com">
        <mat-nav-list>
          <a [routerLink]="[item.route]" *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="Clinical Plus" navigationRoute="/">
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <td-layout-manage-list opened="false" mode="side">
        <mat-card class="example-card">
            <router-outlet></router-outlet>
       </mat-card>
      </td-layout-manage-list>
    </td-layout-nav>
  </td-layout> -->

  <td-layout>
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button class="td-menu-button" (click)="sidenav.toggle()" mdTooltip="Main menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Clinical Plus</span>
    </div>
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav mode="side" opened="true" style="width:257px;border-right:1px solid #ccc">
        <div flex class="mat-content bgc-grey-50">
            <mat-nav-list>
                <a [routerLink]="[item.route]" *ngFor="let item of routes" mat-list-item routerLinkActive="active"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
            </mat-nav-list>
        </div>
      </mat-sidenav>
      <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
        <mat-card>
          <mat-nav-list flex>
                <router-outlet></router-outlet>
          </mat-nav-list>
        </mat-card>
      </div>
    </mat-sidenav-container>
    <td-layout-footer>
        <div layout="row" layout-align="start center">
          <span class="mat-caption">Copyright &copy; 2018 Clinical Plus. All rights reserved</span>
        </div>
      </td-layout-footer>
  </td-layout-nav>
  
</td-layout>