<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <!-- <span class="mat-title">Title here</span> -->
    </span>
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span *ngIf="(selectable && !selectedRows.length) || !selectable" class="mat-title">All Orders</span>
      <span *ngIf="selectedRows.length && selectable" class="mat-body-1">0 item(s) selected</span>
    </span>
    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
    </td-search-box>
  </div>
  <mat-divider></mat-divider>
  <td-data-table
    #dataTable
    [data]="filteredData"
    [columns]="columns"
    [selectable]="selectable"
    [multiple]="multiple"
    [sortable]="true"
    [sortBy]="sortBy"
    [(ngModel)]="selectedRows"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)">
  </td-data-table>
  <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
    <h3>No results to display.</h3>
  </div>
  <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
    <span hide-xs>Rows per page:</span>
    <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
      <mat-option *ngFor="let size of [10,20,30,40,50,60,70,80,90,100]" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
  </td-paging-bar>