// /* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
// @import '~@covalent/core/theming/all-theme';

// // (optional) Additional themes
// @import '~@covalent/markdown/markdown-theme';
// @import '~@covalent/highlight/highlight-theme';

// // Define a custom typography config that overrides the font-family
// // or any typography level.
// $typography: mat-typography-config(
//   $font-family: 'Roboto, monospace',
//   $headline: mat-typography-level(32px, 48px, 700)
// );

// @include mat-core($typography); // $typography is an **optional** argument for the mat-core

// $primary: mat-palette($mat-orange, 800, 100, 900);
// $accent:  mat-palette($mat-light-blue, 600, 100, 900);

// $warn:    mat-palette($mat-red, 600, 100, 900);

// $theme: mat-light-theme($primary, $accent, $warn);

// @include angular-material-theme($theme);
// @include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

// // (optional) Additional themes
// @include covalent-markdown-theme($theme);
// @include covalent-highlight-theme();

@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'system-ui',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: mat-palette($mat-blue, 700);
$accent:  mat-palette($mat-orange, 800, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red, 600);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();